<button class="random" mat-button routerLink="">Home</button>
<button class="random" mat-button routerLink="customers">Customers</button>
<button class="random" mat-button routerLink="orders">Orders</button>
<button class="random" mat-button routerLink="tdform">TD Form</button>

 
<!--<button class="random" mat-button routerLink="/emp-list">Elements</button>

<button class="random" mat-button routerLink="/department-list">Department List</button>
<button class="random" mat-button routerLink="/employee-list">Employee List</button> -->


<router-outlet></router-outlet>


<!-- <app-emp-list></app-emp-list> -->